body {
    font-family: 'Roboto' sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.nav-list {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    gap: 40px;
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.contracts-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}



h1 {
    font-weight: 700;
    font-size: 56px;
    background-color: navy;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    padding: 50px, 30px;
}

.button-order {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
}

.title-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.p-four {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}


.team-photo {
    width: 264px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.title-for-photo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.p-portfolio-six {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.dop-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    ;
    background-color: navy;

}